/* BODY */

body {
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* CARD */

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

/* HEADER */

.card-header {
    padding: 20px;
}

.card-header h3 {
    margin: 0;
    font-weight: bold;
}

/* FORM */

.form-label {
    font-weight: 600;
    color: #333;
}

.form-control {
    border-radius: 10px;
    padding: 12px;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.3);
}

/* BOTÕES */

.btn {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-success:hover {
    transform: scale(1.03);
}

.btn-secondary:hover {
    transform: scale(1.03);
}

/* ALERTA */

.alert-custom {
    margin-top: 20px;
    display: none;
}

