/* =========================
   FONTE
========================= */

/* =========================
   VARIÁVEIS
========================= */

:root{

    --azul-principal:#004aad;
    --azul-hover:#0057d8;
    --azul-gradiente:#005bea;

    --azul-claro:#edf4ff;
    --azul-borda:#e4ecff;

    --fundo:#f4f8ff;

    --branco:#ffffff;

    --texto:#1d3f72;
    --texto-claro:#6f87ab;

    --amarelo:#ffb400;
    --vermelho:#dc3545;

    --sombra:
    0 10px 30px rgba(0,74,173,.08);

    --sombra-hover:
    0 15px 35px rgba(0,74,173,.15);

}


/* =========================
   RESET
========================= */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;

}


body{

    background:var(--fundo);

    color:var(--texto);

    overflow-x:hidden;

}



/* =========================
   LAYOUT
========================= */


.layout{

    display:flex;

    min-height:100vh;

}


.dashboard-container{

    min-height:100vh;

    padding:0;

}



/* =========================
   SIDEBAR
========================= */


.sidebar{

    width:230px;

    min-height:100vh;

    background:var(--branco);

    border-right:1px solid var(--azul-borda);

    padding:24px 16px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    box-shadow:

    8px 0 30px rgba(0,0,0,.04);

}



.logo{

    width:120px;

    max-width:100%;

}



.sidebar-title{

    text-align:center;

    color:var(--azul-principal);

    font-weight:800;

    margin-top:20px;

    margin-bottom:35px;

}



/* =========================
   MENU
========================= */


.menu{

    list-style:none;

    padding:0;

    margin-top:30px;

}



.menu-item{

    margin-bottom:12px;

}



.menu-item a{

    display:flex;

    align-items:center;

    gap:15px;

    width:100%;

    padding:10px 14px;

    border-radius:16px;

    color:#28508f;

    font-size:14px;

    font-weight:500;

    text-decoration:none;

    transition:.3s;

}



.menu-item i{

    font-size:16px;

}



.menu-item a:hover,
.menu-item.active a{

    background:var(--azul-claro);

    color:var(--azul-hover);

    transform:translateX(5px);

}



/* =========================
   BOTÕES INFERIORES
========================= */


.bottom-buttons{

    display:flex;

    gap:12px;

}



.bottom-buttons .btn{

    flex:1;

    height:42px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    border-radius:10px;

    font-weight:600;

    text-decoration:none;

    transition:.3s;

}



.back-btn{

    background:var(--azul-claro);

    border:1px solid var(--azul-borda);

    color:var(--azul-hover);

}



.back-btn:hover{

    background:#dbe9ff;

    transform:translateY(-3px);

}



.logout-btn{

    background:#fff4f4;

    border:1px solid #ffd9d9;

    color:var(--vermelho);

}



.logout-btn:hover{

    background:#ffe5e5;

    transform:translateY(-3px);

}

/* =========================
   CONTEÚDO
========================= */


.content-area{

    flex:1;

    padding:24px;

}



/* =========================
   TOPBAR
========================= */


.topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    gap:20px;

}



.search-box{

    width:65%;

    height:42px;

    background:var(--branco);

    border:2px solid #dce8ff;

    border-radius:10px;

    display:flex;

    align-items:center;

    padding:10px 14px;

}



.search-box i{

    color:#6f86ad;

    font-size:16px;

}



.search-box input{

    border:none;

    outline:none;

    width:100%;

    margin-left:15px;

    font-size:14px;

}



.btn-search{

    border:none;

    background:linear-gradient(
        135deg,
        var(--azul-gradiente),
        var(--azul-principal)
    );

    color:white;

    padding:12px 25px;

    border-radius:10px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}



.btn-search:hover{

    transform:translateY(-3px);

    box-shadow:var(--sombra-hover);

}



.notification-icon{

    font-size:18px;

    color:var(--azul-principal);

}



/* =========================
   CONTAINER LIVRO
========================= */


.book-container{

    background:var(--branco);

    border-radius:16px;

    padding:20px;

    border:1px solid var(--azul-borda);

    box-shadow:var(--sombra);

}



/* =========================
   BREADCRUMB
========================= */


.breadcrumb-custom{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:35px;

    color:#7b8da9;

    font-size:15px;

}



.breadcrumb-custom strong{

    color:var(--texto);

}



/* =========================
   ÁREA DO LIVRO
========================= */


.book-info-area{

    display:flex;

    gap:40px;

    margin-bottom:0;

}



.book-cover img{

    width:280px;

    border-radius:20px;

    object-fit:cover;

}



.book-details{

    flex:1;

}



.book-details h1{

    font-size:26px;

    line-height:1.1;

    color:var(--azul-principal);

    font-weight:800;

}



.book-details h3{

    color:var(--azul-hover);

    margin-top:10px;

    margin-bottom:25px;

}



/* =========================
   AVALIAÇÃO
========================= */


.rating-area{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:30px;

}



.stars{

    color:var(--amarelo);

    font-size:25px;

}



.rating-area span{

    color:var(--texto-claro);

    font-weight:600;

}



/* =========================
   DADOS DO LIVRO
========================= */


.book-data{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}



.info-item{

    display:flex;

    flex-direction:column;

}



.info-item strong{

    color:var(--texto);

    margin-bottom:5px;

}



.info-item span{

    color:var(--texto-claro);

}



/* =========================
   SINOPSE
========================= */


.sinopse-area{

    margin-top:40px;

    padding-top:30px;

    border-top:1px solid var(--azul-borda);

}



.sinopse-area h4{

    color:var(--azul-principal);

    font-weight:700;

    margin-bottom:20px;

}



.sinopse-area p{

    color:var(--texto-claro);

    line-height:1.8;

}



/* =========================
   SIDE CARD
========================= */

.side-card{

    background:var(--branco);

    border:1px solid var(--azul-borda);

    border-radius:16px;

    padding:20px;

}


.status-badge{

    background:var(--azul-gradiente);

    border:none;

    color:white;

    padding:8px 18px;

    border-radius:20px;

    width:max-content;

    margin-left:auto;

    margin-bottom:20px;

    font-weight:620;

}


.side-card h4{

    color:var(--azul-principal);

    font-weight:700;

    margin-bottom:25px;

}



/* =========================
   DISPONIBILIDADE
========================= */

.availability-box{

    display:flex;

    align-items:center;

    gap:18px;

    margin-bottom:30px;

}


.availability-icon{

    width:42px;

    height:42px;

    border-radius:50%;

    background:var(--azul-claro);

    display:flex;

    align-items:center;

    justify-content:center;

}


.availability-icon i{

    font-size:18px;

    color:var(--azul-gradiente);

}


.availability-box h2{

    color:var(--azul-gradiente);

    font-size:26px;

    font-weight:800;

    margin:0;

}


.availability-box p{

    color:var(--texto-claro);

    margin:0;

}



/* =========================
   BOTÕES
========================= */

.btn-reservar{

    width:100%;

    height:42px;

    background:linear-gradient(90deg,var(--azul-gradiente),#0047b3);

    border:none;

    border-radius:10px;

    color:#ffffff;

    font-size:14px;

    font-weight:700;

    margin-bottom:15px;

}



.btn-lista{

    width:100%;

    height:42px;

    background:var(--branco);

    border:2px solid #dce8ff;

    border-radius:10px;

    color:var(--azul-gradiente);

    font-size:14px;

    font-weight:700;

}



/* =========================
   AVALIAÇÕES
========================= */

.avaliacao-geral{

    text-align:left;

    margin-bottom:30px;

}


.nota{

    font-size:26px;

    color:var(--azul-gradiente);

    font-weight:800;

}


.avaliacao-geral span{

    color:var(--texto-claro);

}



.rating-bars{

    margin-bottom:25px;

}


.bar-item{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:12px;

}


.bar-item span{

    width:45px;

    color:var(--texto-claro);

}


.bar{

    flex:1;

    height:10px;

    background:var(--azul-borda);

    border-radius:20px;

    overflow:hidden;

}


.fill{

    height:100%;

    background:var(--azul-gradiente);

    border-radius:20px;

}


.w-10{

    width:10%;

}


.bar-item small{

    color:var(--texto-claro);

}



.btn-avaliacoes{

    width:100%;

    height:42px;

    background:var(--branco);

    border:2px solid #dce8ff;

    border-radius:10px;

    color:var(--azul-gradiente);

    font-size:14px;

    font-weight:700;

}



/* =========================
   EXTRA INFO
========================= */

.extra-info{

    margin-top:45px;

}


.extra-info h4{

    color:var(--azul-principal);

    font-weight:700;

    margin-bottom:25px;

}


.extra-card{

    border:1px solid var(--azul-borda);

    border-radius:16px;

    padding:20px;

    display:flex;

    gap:18px;

    align-items:center;

    height:100%;

}


.extra-icon{

    width:42px;

    height:42px;

    border-radius:50%;

    background:var(--azul-claro);

    display:flex;

    align-items:center;

    justify-content:center;

}


.extra-icon i{

    color:var(--azul-gradiente);

    font-size:18px;

}


.extra-card small{

    color:#7d8daa;

}


.extra-card h6{

    color:var(--azul-principal);

    margin:5px 0;

    font-weight:700;

}


.extra-card span{

    color:var(--azul-gradiente);

    font-size:14px;

}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:992px){

    .sidebar{

        min-height:auto;

    }


    .topbar{

        flex-direction:column;

        gap:20px;

    }


    .search-box{

        width:100%;

    }


    .book-info-area{

        flex-direction:column;

    }


    .book-cover img{

        width:100%;

        max-width:350px;

    }


    .book-data{

        grid-template-columns:1fr;

    }

}



@media(max-width:768px){


    .book-details h1{

        font-size:26px;

    }


    .nota{

        font-size:26px;

    }


    .btn-search{

        padding:10px 22px;

        border-radius:10px;

        font-size:14px;

    }


    .btn-search:hover{

        transform:translateY(-2px);

        box-shadow:0 8px 20px rgba(0,74,173,.25);

    }


    .btn-search:active{

        transform:scale(.98);

    }


    .btn-search i{

        margin-right:6px;

    }

}



/* =========================
   MODAL AVALIAÇÃO
========================= */


.modal{

    display:none;

    position:fixed;

    top:0;
    left:0;
    right:0;
    bottom:0;

    background:rgba(29,63,114,.45);

    align-items:center;

    justify-content:center;

    z-index:1000;

}


.modal.show{

    display:flex;

}


.modal-content{

    background:var(--branco);

    border-radius:16px;

    padding:20px;

    box-shadow:var(--sombra-hover);

}


.modal-header{

    display:flex;

    align-items:center;

    justify-content:space-between;

    margin-bottom:20px;

}


.modal-header h2{

    color:var(--azul-principal);

    font-size:17px;

    font-weight:700;

}


.btn-fechar{

    background:none;

    border:none;

    font-size:20px;

    color:#7b8da9;

    cursor:pointer;

    transition:.2s;

}


.btn-fechar:hover{

    color:var(--vermelho);

}


.modal-footer{

    display:flex;

    justify-content:flex-end;

    gap:12px;

    margin-top:10px;

}


.campo{

    margin-bottom:10px;

}


.campo label{

    display:block;

    font-weight:600;

    margin-bottom:15px;

}


.modal-livro{

    width:600px;

    border-radius:20px;

}



.livro-info{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:30px;

}



.livro-info i{

    font-size:35px;

    color:#3254e5;

}



.livro-info h3{

    font-size:23px;

    font-weight:600;

}



/* CAMPO AVALIAÇÃO */

.campo-avaliacao{

    margin-bottom:30px;

}



.campo-avaliacao label{

    display:block;

    font-weight:600;

    margin-bottom:15px;

}



/* ESTRELAS */

.rating{

    display:flex;

    justify-content:center;

    gap:8px;

    margin:25px 0;

}



.star{

    font-size:55px;

    color:#d9d9d9;

    cursor:pointer;

    transition:.2s;

}



.star:hover{

    transform:scale(1.2);

}


.star.hover,
.star.active{

    color:#FDBA12;

}



/* TEXTO NOTA */

.texto-nota{

    display:block;

    text-align:center;

    color:#3254e5;

    font-weight:600;

}



/* TEXTAREA */

textarea{

    width:100%;

    height:140px;

    resize:none;

    border:1px solid #d7dffb;

    border-radius:12px;

    padding:15px;

    font-size:15px;

    outline:none;

}



textarea:focus{

    border-color:#3254e5;

}



#contador{

    display:block;

    text-align:right;

    margin-top:8px;

    color:#888;

}



/* BOTÕES MODAL */

.btn-salvar{

    background:#3254e5;

    color:white;

    padding:12px 28px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}



.btn-cancelar{

    background:#ececec;

    border:none;

    padding:12px 28px;

    border-radius:10px;

    cursor:pointer;

}
